/documents/
/notes/
/bin/
gradlew
gradlew.bat
/gradle/

# Gradle
.gradle/
build/

# IDE
.project
.classpath
.settings/
.metadata
*.launch

# Java
*.class
*.jar

# OS
.DS_Store
*/.DS_Store
*.log
*.tmp
*.bak
